:root {
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsla(216, 12%, 54%, 0.205);
  --darkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Overpass", sans-serif;
  font-size: 1.1rem;
  background-color: var(--veryDarkBlue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--darkBlue);
  width: 80%;
  padding: 2em 2.5em;
  border-radius: 1.5em;
  margin: 2em auto;
}

.evaluation h2 {
  color: var(--white);
}

.evaluation p {
  line-height: 2em;
}

.evaluation p,
.numbers {
  color: var(--lightGrey);
}

.numbers {
  display: flex;
  justify-content: space-between;
  margin: 3em 0;
}

.circle-star {
  background-color: var(--mediumGrey);
  border-radius: 50%;
  padding: 1em;
}

.circle {
  background-color: var(--mediumGrey);
  border-radius: 50%;
  padding: 1em 1.4em;
}

.evaluation button {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--white);
  background-color: var(--orange);
  border: none;
  width: 100%;
  padding: 0.9em;
  border-radius: 1.5em;
  display: block;
  margin: 0 auto;
}

.thankyou {
  display: none;
}

@media all and (min-width: 500px) {
  .card {
    width: 500px;
  }
}
