:root {
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsla(216, 12%, 54%, 0.205);
  --darkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Overpass", sans-serif;
  font-size: 1.1rem;
  background-color: var(--veryDarkBlue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--darkBlue);
  width: 80%;
  padding: 2em 2.5em;
  border-radius: 1.5em;
  margin: 2em auto;
}

.heading {
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  color: var(--white);
}

.paragraph {
  line-height: 1.7em;
  margin-top: 0;
}

.paragraph,
.numbers {
  color: var(--lightGrey);
}

.numbers {
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
  font-weight: bold;
}

.circle-star {
  background-color: var(--mediumGrey);
  border-radius: 50%;
  padding: 1em;
}

.circle {
  background-color: var(--mediumGrey);
  border-radius: 50%;
  padding: 1em 1.4em;
}

.circle:hover{
  background-color: var(--lightGrey);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
}

.circle:active{
  background-color: var(--orange);
  color: var(--white);
}

.evaluation button {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--white);
  background-color: var(--orange);
  border: none;
  width: 100%;
  padding: 1.2em;
  border-radius: 2em;
  display: block;
  margin: 0 auto;
  font-weight: bold;
}

.evaluation button:active {
  background-color: var(--white);
  color: var(--orange);
}

.evaluation button:hover{
  cursor: pointer;
}

.thankyou {
  display:none;
  text-align: center;
}

.thankyou img{
  margin-bottom: 1em;
}

.rating{
  background-color: var(--mediumGrey);
  color: var(--orange);
  border-radius: 1em;
  padding: 0.4em 1.3em;
}

.evaluation{
  display: block;
}




@media all and (min-width: 500px) {
  .card {
    width: 500px;
  }
}
